@font-face {
  font-family: gunship;
  src: url("./res/font/gunship.ttf");
}

body {
  color: black;
  margin: 0;
  height: 200vh;
  font-family: gunship;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.section1 {
  display: flex;
  flex-direction: column;
  background-image: url("res/background/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.logo_section1 {
  flex: 6;
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 80%;
}

.logo_section1_img {
  flex: 1;
  flex-basis: 80%;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.navbar {
  flex: 1;
  display: flex;
  height: 20%;
}

.btn {
  flex: 1.25;
  font-family: gunship;
  font-size: 2vw;
  height: 100%;
  width: 25%;
  color: #000000;
  background-color: #ffffff;
  border: none;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:hover {
  background-color: #ff588a;
  color: #edf76d;
}

.btn:focus {
  background-color: #58f0e3;
  color: #ff709b;
}

.section2 {
  background-image: url("res/background/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vh 10%;
  border-radius: 50px;
}

.video_section2 {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  padding: 5%;
  display: flex;
}

.react-player {
  flex: 1;
}

.section4 {
  display: flex;
  flex-direction: column;
  margin: 10vh 10%;
}

.top_section4 {
  display: flex;
}

.bottom_section4 {
  display: flex;
}

.card {
  margin: 2%;
  flex: 1;
}

.image {
  border-radius: 100%;
  width: 100%;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 50%;
}

.modelCanvas {
  background-image: url("res/background/background.gif");
  border-radius: 50px;
  height: 100%;
}

.model {
  color: #ffffff;
}

.canvasContainer {
  align-self: center;

  flex: 1;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  border: 3px solid palevioletred;
}

.mouseIcon {
  vertical-align: text-bottom;
}

.section3 span {
  margin: 3ch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
